input{
    margin: 10px;
    
}
.drug-accept{
    border-radius: 15px;
    /* width: 400px; */
    
    text-align: center;
}
.button{
    display: inline-block;
    margin: 0 auto;
    border-radius: 15px;
    border: none;
}
.mydrug-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.qty{
    display: flex;
    justify-content: space-between;
}
.qty span{
    margin: 0 5px;
    background-color: crimson;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
    text-align: center;
}
.all{
    border-radius: 15px;
    background-color: crimson;
    color: #fff;
    width: 220px;
    text-align: center;
    height: 50px;
    align-items: center;
    padding: 13px;
}
.empty-show{
    margin-top: 150px;
}